CI_ENVIRONMENT = production

app.baseURL = 'https://example.com/'
app.indexPage = ''

database.default.hostname = localhost
database.default.database = hosting_account_pos
database.default.username = hosting_account_posuser
database.default.password = 'replace-with-a-strong-password'
database.default.DBDriver = MySQLi
database.default.DBPrefix = ''
database.default.port = 3306

stripe.apiKey = ''
stripe.publishableKey = ''
stripe.currency = 'usd'

