CI_ENVIRONMENT = development

app.baseURL = 'http://127.0.0.1:8081/'
app.indexPage = ''

database.default.hostname = localhost
database.default.database = pos
database.default.username = root
database.default.password = ''
database.default.DBDriver = MySQLi
database.default.DBPrefix = ''
database.default.port = 3306

stripe.apiKey = ''
stripe.publishableKey = ''
stripe.currency = 'usd'
